body{
    font-family: Arial;
    margin-top: 100px;
}
header{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
}
.summary img {
    float:right;    
}
header, footer {
    background-color: #eeeeee;
}

h1{
    font-size: 28px;
    text-transform: uppercase;
}

h2 {
    color: #2F5A78;
    font-size: 20px;
    border-bottom: 1px solid #2F5A78;
    padding-bottom: 2px;  
}

#position{
    font-size: 18px; 
    font-weight: 700;
}
#copyright{
    text-align: center;
}
.summary{
    font-size: 16px;
    line-height: 20px;
}
 
section, footer {
    padding: 2px 10px;
}

ul{
    margin: 0;
}
#send{
    border-radius: 5px;
    border: none;
    background-color: chocolate;
    color: azure;
    padding: 5px 10px;
    
}

li{
    margin-bottom: 5px;
}

li b{
    color:#2F5A78;
}
footer a{
    color: #E99F4B;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}
table{
    border-collapse: collapse;
}

th{
    background-color: #2F5A78;
    color: #ffffff;
}

th, td{
    border: 1px solid #000000;
}

input[type='email']{
    border: 1px solid #2f5a78;
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
}
input[type='text']{
    border: 1px solid #2F5A78;
    width: 203px;
    padding: 5px;
    margin-bottom: 5px;
}
label{
    color:  #2F5A78;
    font-weight: bold;
}
input[type='submit']{
    background-color: #2F5A78;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: bold;
    margin-bottom: 7px;
    padding: 3px 10px;
}
