body{
    font-family: Arial;
}
header{
    text-align: center;
}

h1{
    font-size: 28px;
    text-transform: uppercase;
}

h2 {
    color: #2F5A78;
    font-size: 20px;
    border-bottom: 1px solid #2F5A78;
    padding-bottom: 2px;  
}

#position{
    font-size: 18px; 
    font-weight: 700;
}
#copyright{
    text-align: center;
}
.summary{
    font-size: 16px;
    line-height: 20px;
}
 
section, footer {
    padding: 2px 10px;
}

ul{
    margin: 0;
}
#send{
    border-radius: 5px;
    border: none;
    background-color: chocolate;
    color: azure;
    padding: 5px 10px;
    
}
